.price {
    padding: 66px 0 0 0;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 366px);
        grid-template-rows: repeat(2, minmax(45px, auto));
        grid-auto-rows: minmax(45pz, auto);
        row-gap: 15px;
        padding: 60px 50px 0 50px;
        justify-content: space-between;
    }
    &__service {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, minmax(21px, auto));
        &-name {
            position: relative;
            font-weight: bold;
            margin-left: 26px;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background-color: $main-color;
                top: 3px;
                left: -25px;
            }
        }
        &-cost {
            font-weight: bold;
            justify-self: end;
        }
        &-text {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            grid-column: 1/3;
            margin-left: 26px;
        }
    }
}